{% extends "base.html" %}

{% block title %}Haha Funny Joke Lah!{% endblock %}

{% block content %}
<div class="container">

	<div class="jumbotron">
		<div class="container">
			<h1>{{ current_joke.text }}</h1>
			<!--voting-->
			<br>
			<div class="left">
				<a href="/{{ current_joke.id }}/up"><button class="btn btn-primary btn-lg"> <span class="glyphicon glyphicon-thumbs-up"></span></button></a>
				<a href="/{{ current_joke.id }}/down"><button class="btn btn-primary btn-lg"> <span class="glyphicon glyphicon-thumbs-down"></span></button></a>
			</div>
			<div id="fav" class="right">
				<a href="/{{ current_joke.id }}/fav">
					
					{% if fav_bool %}
					<button class="btn btn-success btn-lg"> 
						<span class="glyphicon glyphicon-star"></span>
					{% else %}
					<button class="btn btn-primary btn-lg"> 
						<span class="glyphicon glyphicon-star-empty"></span>
					{% endif %}
					</button>
				</a>
			</div>
			<br>
			</div>
		</div>
	<div class='right keyboardShortcuts'>
	<ul class='list-inline'>
		<li>Keyboard shortcuts:</li>
		<li>'J' : Good joke</li>
		<li>'K' : Lame joke</li>
		<li>'U' : Favorite this joke</li>
	</div>

</div>


<script>
$(document).ready(function() {
	$(document).keyup(function(event) {
		if (event.keyCode == 74) // 'j'
			window.location.replace("/{{ current_joke.id }}/up");
		else if (event.keyCode == 75) // 'k'
			window.location.replace("/{{ current_joke.id }}/down");
		else if (event.keyCode == 85) // 'o'
			window.location.replace("/{{ current_joke.id }}/fav");
	})
})
</script>

{% endblock %}


