{% extends "base.html" %}

{% block title %}User Favorites{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h1>Your Favorite Jokes</h1>
			</br>
			{% if profile.favorites.all %}
				<table class="table">
				<tbody>
				{% for fav_joke in profile.favorites.all %}
					<tr>
						<td>
							<a href="/{{ fav_joke.id }}/fav/?next=/user/fav">					
								<button class="btn btn-danger btn-sm"> 
									<span class="glyphicon glyphicon-minus-sign"></span>
								</button>
							</a>
						</td>
						<td>
							<a href="/{{fav_joke.id}}">{{ fav_joke.text }}</a>
						</td>
					</tr>
				
				{% endfor %}
				</tbody>
				</table>
			{% else %}
				<p>You haven't favorited any jokes yet.</p>
			{% endif %}
			
		</div>
	</div>
</div>



{% endblock %}


