{% extends "base.html" %}

{% block title %}Fast Joke{% endblock %}

{% block content %}
<div class='landingPage'>
	
	<div class='right landingPageCreate'>
		<div><h3><strong>create an account</strong><br><small>Already have one? Login <a href="/accounts/login">here</a></small></h3></div>
			{% if error %}
				<p class='text-danger'><strong>Sorry, this username already exists. Please create another one.</strong></p>
			{% else %}	
			{% endif %}
			<br/>
			<form class="form-horizontal" role="form" action="{% url 'add_user_add' %}" method="post">
				{% csrf_token %}
				
				
				{% if error %}
					<div class="form-group has-error">
						<label for="username" class="col-lg-4 control-label">Username:</label>
						<div class="col-lg-6"><input class="form-control" id="uname" name="uname" type="text"/></div>
					</div>
				{% else %}
					<div class="form-group">
						<label for="username" class="col-md-4 control-label">Username:</label>
						<div class="col-md-6"><input class="form-control" id="uname" name="uname" type="text"/></div>
					</div>
				{% endif %}
				
				<!--<div class="form-group">
					<label for="email" class="col-lg-2 control-label">Email:</label>
						<div class="col-lg-6"><input class="form-control" id="email" name="email" type="text"/></div>
				</div>-->
				
				{% if error %}
					<div class="form-group has-error">
						<label for="pwd" class="col-md-4 control-label">Password:</label>
						<div class="col-md-6"><input class="form-control" id="pwd" name="pwd" type="password"/></div>
					</div>
				{% else %}
					<div class="form-group">
						<label for="pwd" class="col-md-4 control-label">Password:</label>
						<div class="col-md-6"><input class="form-control" id="pwd" name="pwd" type="password"/></div>
					</div>
				{% endif %}
				
				<div class="form-group">
					<label class='col-md-4 control-label'><button type="submit" class="btn btn-primary" name="submit_user_form">Join!</button></label>
				</div>
			</form>			
		</div>
		
	<div class="container">
		<div class='LandingPageLeft'>
			<div class='transparentJoke'>
				<div><h1><strong>It's simple. See joke. Vote.</strong><br><small>Then, onto the next one. Here's to time well spent.</small></h1></div>
			</div>
			<br/><br/><br/><br/>
			
			<div class='transparentJoke1'><h2 style='color:#ffffff;'>Top jokes right now:</h2>
			
				<div lass='list-group'>
					{% for joke in top_five %}
						<a class='list-group-item' href='#'>{{ joke }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<div class='purpleFiller'>

</div>

{% endblock %}